h1{
    background-color: green;
    color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

h3{
    text-align: center;
    text-emphasis: open;
}

.button{
    background-color: rgb(10, 126, 10);
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 22px;
    border-radius: 12px;
    border: none;
    margin: 5px;
}

.button:hover{
    background-color: rgb(13, 163, 13);
    color: antiquewhite;
    border-radius: 32px;
}

div{
    text-align: center;
}